<div class="container">
    <div [hidden]="submitted">
        <h1>Pedidos Terra Viva</h1>
        <form (ngSubmit)="onSubmit()" #pedidoForm="ngForm">
            <cdk-virtual-scroll-viewport [itemSize]="1" style="height: 600px">
                <div class="form-group">
                    <label for="cliente">Nome</label>
                    <input type="text" class="form-control" id="cliente" required
                    [(ngModel)]="model.cliente" name="cliente"
                    #spy>
                </div>
            
                <!-- <div class="form-group">
                    <label for="cpf">CPF (Obrigatório para clientes em primeira por este formulário)</label>
                    <input type="text" class="form-control" id="cpf" required
                    [(ngModel)]="model.cliente" name="cliente"
                    #spy>
                </div> -->
            
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input type="text" class="form-control" id="email" required
                    [(ngModel)]="model.email" name="email"
                    #spy>
                </div>
            
                <div class="form-group">
                    <label for="endereco">Endereço Completo para Entrega (rua/av; número; apto; cliente do edifício)</label>
                    <input type="text" class="form-control" id="endereco" required
                    [(ngModel)]="model.endereco" name="endereco"
                    #spy>
                </div>
            
                <!-- <div class="form-group">
                    <label for="bairro">Bairro e Ponto de Referência</label>
                    <input type="text" class="form-control" id="bairro"
                    [(ngModel)]="model.cliente" name="cliente"
                    #spy>
                </div> -->
            
                <div class="form-group">
                    <label for="telefone">Telefone de Contato (Preferencialmente Whatsapp)</label>
                    <input type="text" class="form-control" id="telefone" required
                    [(ngModel)]="model.telefone" name="telefone"
                    #spy>
                </div>
            
                <app-produtos></app-produtos>

                <button type="button" class="btn btn-default"
                (click)="newPedido(); pedidoForm.reset()">Novo Pedido</button>

                <button type="submit" class="btn btn-success" 
                [disabled]="!pedidoForm.form.valid">Submit</button>
            </cdk-virtual-scroll-viewport>
        </form>       
    </div>
    <div [hidden]="!submitted">
        <h2>You submitted the following:</h2>
        <div class="row">
            <div class="col-xs-3">Name</div>
            <div class="col-xs-9">{{ model.cliente }}</div>
        </div>
        <div class="row">
            <div class="col-xs-3">E-mail</div>
            <div class="col-xs-9">{{ model.email }}</div>
        </div>
        <div class="row">
            <div class="col-xs-3">Endereço</div>
            <div class="col-xs-9">{{ model.endereco }}</div>
        </div>
        <div class="row">
            <div class="col-xs-3">Telefone</div>
            <div class="col-xs-9">{{ model.telefone }}</div>
        </div>
        <!-- <div class="row">
            <div class="col-xs-3">Produto</div>
            <div class="col-xs-9">{{ model.produto23 }}</div>
        </div> -->
        <br>
        
        <button class="btn btn-primary" (click)="submitted=false">Edit</button>
      </div>
</div>